/*Theme Colour*/
:root{
    --dark: #0D1413;
    --activeStatus: rgba(0,0,0,.05);
    --light: #edeff0;
    --theme: #55C18F;
    --white: #fff;
}

/*CSS Resets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common Classes and/or Properties*/
body{
    background-color: var(--light);
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}
a{
    text-decoration: none;
}

/*Header Starts*/
header{
    background-color: var(--white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0,0.2);
    padding-bottom: 0.7rem;
}
header .logo{
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
}
header li{
    display: inline-block;
}
header a{
    padding: 0.7rem;
    color: var(--dark);
}
header nav a:hover,
header .active a{
    background-color: var(--activeStatus)
}
/*Header Ends*/

/*Introduction Starts*/
#intro{
    height: 60vh;
    background-image: url("../img/garden.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
#intro .textIntro{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
#intro h2{
    margin-top: 6rem;
    padding: 0.8rem;
    font-family: 'Raleway', sans-serif;
}
#intro h3{
    padding: 0.4rem;
}
#intro .textButton a{
    display: inline-block;
    margin: 3rem 0;
    color: white;
    background-color: var(--theme);
    padding: 1rem 2rem;
    transition: box-shadow 0.5s;
}
#intro .textButton a:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
}
/*Introduction Ends*/

/*Welcome*/
#welcome{
    color: var(--white);
    background-color: var(--theme);
    text-align: center;
    padding: 1.6rem;
}
#welcome h1{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
#welcome p{
    padding: 0.6rem;
}
.service{
    margin: 1rem 0;
}
.service h3{
    font-size: 1.3rem;
    padding: 0.8rem;
    border-bottom: 1px solid;
}
.work{
    position: relative;
}
.work.one{
    background-image: url("../img/s1.jpeg");
    background-size: cover;
    height: 32vh;
    margin-bottom: 1rem;
}
.work.two{
    background-image: url("../img/s2.jpeg");
    background-size: cover;
    height: 32vh;
    margin-bottom: 1rem;
}
.work.three{
    background-image: url("../img/s3.jpeg");
    background-size: cover;
    height: 32vh;
    margin-bottom: 1rem;
}
.work.four{
    background-image: url("../img/s4.jpeg");
    background-size: cover;
    height: 32vh;
    margin-bottom: 1rem;
}
.workTitle{
    position: absolute;
    background-color: rgba(0, 0, 0,0.3);
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}

/*Welcome Ends*/

/*Blog Starts*/
#blog{
    text-align: center;
    padding-bottom: 2rem;
}
#blog h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#blog .blogCallToAction a,
#blog .articleCallToAction a{
    background-color: var(--theme);
    color: var(--white);
    padding: 1rem;
    display: inline-block;
    margin-bottom: 1.5rem;
    transition: box-shadow 0.5s;
}
#blog .blogCallToAction a:hover,
#blog .articleCallToAction a:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
}
#blog .article{
    background-color: var(--white);
    margin: 1rem;
}
#blog .articleDate{
    background-color: var(--dark);
    color: var(--white);
    font-style: italic;
    padding: 0.5rem 0;
}
#blog .articleTitle {
    margin: 1rem;
    font-size: 1.3rem;
}
#blog .articleText {
    padding: 1rem 1.3rem;
}
/****blog*/

/*testimonial*/
#testimonials{
    background-color: var(--white);
    text-align: center;
}
#testimonials h2{
    margin-top: 2rem;
}
#testimonials h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
}
#testimonials .testimonial{
    padding: 2rem;
}
#testimonials .testimonial img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.testimonial p{
    margin: 1rem 0.7rem;
    font-style: italic;
}
.testimonial .testimonialText{
}
.testimonial .testimonialAuthor h4,
.testimonial .testimonialAuthor h5{
    margin-top: 0.4rem;
}

/*Testimonial Ends*/

/*footer*/
footer{
    padding: 1rem 0 0.5rem 0.5rem;
    background-color: var(--dark);
    color: white;
}
footer div{
}
footer ul{
    list-style: none;
    margin-bottom: 2rem;
}
footer a{
    color: white;
    text-decoration: underline;
}
footer p{
    margin: 1.2rem 0;
}
.newsLetter input{
    padding: 0.5rem;
    width: 100%;
    margin: 1rem 0;
}
.newsLetter button{
    background-color: var(--theme);
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    margin-bottom: 2rem;
}


@media screen and (min-width: 750px){
    header .logo{
        display: inline-block;
        width: 30%;
    }
    header nav{
        display: inline-block;
        width: 60%;
    }
    #intro{
        min-height: 80vh;
    }
    #intro h2{
        margin-top: 15rem;
    }
    #intro h3{
        padding: 1rem;
    }
    .service{
        width: 70%;
        max-width: 38rem;
        margin: 1.2rem auto;
    }
    .work, #blog .article,
    #testimonials .testimonial,
    footer .servicesLinks,
    footer .getInTouch{
        margin: 1.2rem;
        width: 40%;
        display: inline-block;
    }
    footer .servicesLinks a{
        padding: 0.25rem 0px;
        display: inline-block;
    }
    footer .newsLetter{
        margin: 0.5rem 1.2rem;
    }
    footer .newsLetter input{
        width: 70%;
    }
    
    footer .newsLetter button{
        margin-left: 0.5rem;
        width: 20%;
        padding: 1rem;
    }
    footer .copyright{
        text-align: center;
    }
}